<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Partydetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/static/css/party.css"/>
</head>
<body>

<header th:replace="fragments/header :: header">
    <p>Hier komt de header</p>
</header>

<main>
    <div th:if="${party}">

        <form th:action="@{|/admin/partyedit/${party.id}|}" th:object="${party}" method="post">
            <div class="nextButtonDiv">
                <a class="button-look smallButton" th:href="@{'/partydetails/' + ${party.id}}">Back</a>
            </div>
            <div class="nextButtonDiv">
                <input type="submit" value="Save" class="button-look smallButton">
            </div>

            <h2 th:text="'Party : ' + ${party.name}">Name party</h2>

            <div>
                <label for="partyName">Name: </label>
                <input type="text" id="partyName" th:field="*{name}">
            </div>

            <div>
                <label for="partyDate">Date: </label>
                <input type="date" id="partyDate" th:field="*{date}">
            </div>

            <div>
                <label for="partyVenue">Where: </label>
                <select id="partyVenue">
                    <option th:each="v : ${venues}" th:selected="*{venue}" th:value="${v.id}" th:text="${v.venueName}"></option>
                </select>
            </div>

            <div>
                <label for="partyPrice">Price: </label>
                <input type="number" step="1" id="partyPrice" th:field="*{priceInEur}"> <span>€</span>
            </div>

            <div>
                <label for="partyPricePresale">Presale price: </label>
                <input type="number" step="1" id="partyPricePresale" th:field="*{pricePresaleInEur}"> <span>€</span>
            </div>

            <div>
                <label for="partyDoors">Doors: </label>
                <input type="time" id="partyDoors" th:field="*{doors}">
            </div>

            <div>
                <label for="partyExtraInfo">Extra info: </label>
                <textarea id="partyExtraInfo" rows="5" cols="50" th:field="*{extraInfo}"></textarea>
            </div>
        </form>
    </div>

    <div th:unless="${party}">
        <h2>Party: unknow</h2>
    </div>
</main>

<footer th:replace="fragments/footer :: footer">
    <p>Hier komt de footer</p>
</footer>

</body>
</html>