<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/static/css/party.css"/>
</head>
<body>

<header th:replace="fragments/header :: header">
    <p>Hier komt de header</p>
</header>

<main>
    <form th:action="@{/user/logout}" method="post">
        <div class="oneinput saveButtonDiv">
            <input type="submit" value="logout" class="smallButton buttonLook">
        </div>
        <div class="oneinput cancelButtonDiv">
            <a href="/partylist" class="smallButton buttonLook">cancel</a>
        </div>
    </form>

</main>

<footer th:replace="fragments/footer :: footer">
    <p>Hier komt de footer</p>
</footer>

</body>
</html>