<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venues</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/static/css/party.css"/>
</head>
<body>

<div th:fragment="filter">
    <div>
        Outdoor :
        <button class="button-look" th:classappend="${outdoorFilter==null} ? 'active' : ''"><a th:href="@{/venuelist}">All</a></button>
        <button class="button-look" th:classappend="${outdoorFilter!=null && outdoorFilter} ? 'active' : '' "><a th:href="@{/venuelist/outdoor/yes}">Yes</a></button>
        <button class="button-look" th:classappend="${outdoorFilter!=null && !outdoorFilter} ? 'active' : '' "><a th:href="@{/venuelist/outdoor/no}">No</a></button>
    </div>

    <div>
        Indoor :
        <button class="button-look" th:classappend="${indoorFilter==null} ? 'active' : ''"><a th:href="@{/venuelist}">All</a></button>
        <button class="button-look" th:classappend="${indoorFilter!=null && indoorFilter} ? 'active' : '' "><a th:href="@{/venuelist/indoor/yes}">Yes</a></button>
        <button class="button-look" th:classappend="${indoorFilter!=null && !indoorFilter} ? 'active' : '' "><a th:href="@{/venuelist/indoor/no}">No</a></button>
    </div>

    <div>
        Size :
        <button class="button-look" th:classappend="${sizeFilter==null} ? 'active' : ''"><a th:href="@{/venuelist}">All</a></button>
        <button class="button-look" th:classappend="${sizeFilter!=null && sizeFilter=='S'} ? 'active' : ''"><a th:href="@{/venuelist/size/S}">S</a></button>
        <button class="button-look" th:classappend="${sizeFilter!=null && sizeFilter=='M'} ? 'active' : ''"><a th:href="@{/venuelist/size/M}">M</a></button>
        <button class="button-look" th:classappend="${sizeFilter!=null && sizeFilter=='L'} ? 'active' : ''"><a th:href="@{/venuelist/size/L}">L</a></button>
    </div>
</div>

</body>
</html>


