html {
    background-color: #D0CFEC;
    color: #4c6c5d;
    font-family: Bahnschrift, sans-serif;
}

body{
    margin: 0;

}

H1{
    color: #EDC7CF;
    margin: 0;
    font-size: 60px;
}

nav ul{
    padding-left: 0;
}

nav ul > li {
    display: inline-block;
    margin-right: 10px;
}

nav li a{
    color: #6A8E7F;
    background-color: #EDC7CF;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 20px;
}

header{
    padding: 15px;
    background-color: #6A8E7F;
}

main{
    padding: 15px;
}

tr, td{
    margin: 0;
}

.venue{
    width: 500px;
    height: 65px;
    background-color: #EDC7CF;
    text-decoration: none;
    text-align: center;
    margin: 0 auto
}

.venue:hover{
    background-color: #6A8E7F;
}

.venue a{
    color: #6A8E7F;
    display: block;
    margin: 10px auto;
    width: 400px;
    padding: 1em;
    text-decoration: none;
}

.venue a:hover{
    color: #EDC7CF;
}

footer{
    background-color: #6A8E7F;
    color: #EDC7CF;
    text-align: center;
    margin-bottom: 0;
    height: 40px;
}

.button-look{
    background-color: #EDC7CF;
    color: #6A8E7F;
}

.button-look > a{
    text-decoration: none;
}

.active{
    background-color: #6A8E7F;
    color: #EDC7CF
}

.prevButtonDiv{
    float: left;
}

.nextButtonDiv{
    float: right;
}

.smallButton{
    display: block;
    font-size: 1em;
    padding: 0.5em;
}

.filterButton{
    font-size: 1em;
    padding: 0.2em;
}

.generalinfo{
    background-color: beige;
}

.buttonListGrid{
    display: grid;
    grid-template-areas:
    "filter venuelist";
    grid-template-columns: 20em auto;
}

.filters{
    grid-area: filter;
}

.buttonList{
    grid-area: venuelist;
}