html {
    background-color: lightgray;
    color: seagreen;
}

body{
    margin: 0;
}

H1{
    color: burlywood;
    margin: 0;
    font-size: 60px;
}

nav ul{
    padding-left: 0;
}

nav ul > li {
    display: inline-block;
    margin-right: 10px;
}

nav li a{
    color: seagreen;
    background-color: burlywood;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 20px;
}

header{
    padding: 15px;
    background-color: seagreen;
}

main{
    padding: 15px;
}

 tr, td{
     margin: 0;
 }

.venue{
    width: 500px;
    height: 25px;
    background-color: burlywood;
    color: seagreen;
    text-align: center;
    margin: 25px auto;
    padding-bottom: 15px;
}

.venue a{
    text-decoration: none;
    margin-top: 10px;
}