html {
    background-color: #D0CFEC;
    color: #4c6c5d;
    font-family: Bahnschrift, sans-serif;
}

body{
    margin: 0;

}

H1{
    color: #EDC7CF;
    margin: 0;
    font-size: 60px;
}

nav ul{
    padding-left: 0;
}

nav ul > li {
    display: inline-block;
    margin-right: 10px;
}

nav li a{
    color: #6A8E7F;
    background-color: #EDC7CF;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 20px;
}

header{
    padding: 15px;
    background-color: #6A8E7F;
}

main{
    padding: 15px;
}

 tr, td{
     margin: 0;
 }

.venue{
    width: 500px;
    height: 25px;
    background-color: #EDC7CF;
    color: #6A8E7F;
    text-align: center;
    margin: 25px auto;
    padding-bottom: 15px;
}

.venue a{
    text-decoration: none;
    margin-top: 10px;
    color: #6A8E7F
}

footer{
    background-color: #6A8E7F;
    color: #EDC7CF;
    text-align: center;
    margin-bottom: 0;
    height: 40px;
}