<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{css/party.css}" href="/static/css/party.css" />
    </head>
    <body>

    <h1>Homepagina</h1>
    <p th:text="${myCalculatedValue}">onbekend nummer</p>

    <a th:href="@{/about}">About</a>
    </body>
</html>