<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/static/css/party.css"/>
</head>
<body>

<header th:replace="fragments/header :: header">
    <p>Hier komt de header</p>
</header>

<main>
    <p th:if="${weekend}">Prettig weekend, je hebt het verdiend!</p>
    <p th:unless="${weekend}">Voor je het weet is het weekend!</p>

    <p th:text="'De datum van vandaag is ' + ${dateToday}"></p>
    <p th:text="'De uiterste datum van betalen is ' + ${dateToPay}"></p>
</main>

<footer th:replace="fragments/footer :: footer">
    <p>Hier komt de footer</p>
</footer>

</body>
</html>