<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venuedetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/party.css}" href="/static/css/party.css"/>
</head>
<body>

<h2 th:text="${venue.getVenueName()}">Naam venue</h2>
<a th:text="${venue.getLinkMoreInfo()}" th:href="${venue.getLinkMoreInfo()}">link venue</a>

</body>
</html>