<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venues</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/static/css/party.css"/>
</head>
<body>

<header th:replace="fragments/header :: header">
    <p>Hier komt de header</p>
</header>

<main class="buttonListGrid">
    <div class="filters">
        <div class="verticalmargin">
            <span class="generalinfo" th:text="|${nrVenues} venues found|">0 venues found</span>
        </div>
        <div th:if="${showFilter}">
            <div>
                <a th:href="@{/venuelist}" class="button-look filterButton">-</a>
            </div>
            <form>
                <input type="submit" value="search" class="button-look">
                <h3>capacity</h3>
                <div>
                    <label for="minCapacity" class="filtername">min</label>
                    <input type="number" id="minCapacity" name="minimumCapacity" th:value="${minCapacity}" value="0" step="50"> <span>persons</span>
                </div>
                <div>
                    <label for="maxCapacity" class="filtername">max</label>
                    <input type="number" id="maxCapacity" name="maximumCapacity" th:value="${maxCapacity}" value="0" step="50"> <span>persons</span>
                </div>

                <h3>Distance to public transport</h3>
                <div>
                    <label for="maxDistance">max</label>
                    <input type="number" id="maxDistance" name="maxDistance" th:value="${maxDistance}" value="0" step="0.1"> <span>km</span>
                </div>

                <h3>Food provided?</h3>
                <div>
                    <label for="foodYes">Yes</label>
                    <input type="radio" id="foodYes" name="filterFood" value="yes" th:checked="${foodProvided eq 'yes'}">
                </div>
                <div>
                    <label for="foodNo">No</label>
                    <input type="radio" id="foodNo" name="filterFood" value="no" th:checked="${foodProvided eq 'no'}">
                </div>
                <div>
                    <label for="foodAll">All</label>
                    <input type="radio" id="foodAll" name="filterFood" value="all" th:checked="${foodProvided eq 'all'}">
                </div>

                <h3>Indoor?</h3>
                <div>
                    <label for="indoorYes">Yes</label>
                    <input type="radio" id="indoorYes" name="filterIndoor" value="yes" th:checked="${indoor eq 'yes'}">
                </div>
                <div>
                    <label for="indoorNo">No</label>
                    <input type="radio" id="indoorNo" name="filterIndoor" value="no" th:checked="${indoor eq 'no'}">
                </div>
                <div>
                    <label for="indoorAll">All</label>
                    <input type="radio" id="indoorAll" name="filterIndoor" value="all" th:checked="${indoor eq 'all'}">
                </div>

                <h3>Outdoor?</h3>
                <div>
                    <label for="outdoorYes">Yes</label>
                    <input type="radio" id="outdoorYes" name="filterOutdoor" value="yes" th:checked="${outdoor eq 'yes'}">
                </div>
                <div>
                    <label for="outdoorNo">No</label>
                    <input type="radio" id="outdoorNo" name="filterOutdoor" value="no" th:checked="${outdoor eq 'no'}">
                </div>
                <div>
                    <label for="outdoorAll">All</label>
                    <input type="radio" id="outdoorAll" name="filterOutdoor" value="all" th:checked="${outdoor eq 'all'}">
                </div>
            </form>
        </div>

        <div class="filters" th:unless="${showFilter}">
            <div class="verticalmargin">
                <a th:href="@{/venuelist/filter}" class="button-look filterButton">Filter</a>
            </div>
        </div>
    </div>



    <div class="buttonList">
        <div th:each="venue: ${venues}">
            <div class="venue">
                <a th:href="@{|/venuedetails/${venue.id}}">
                    <span th:text="${venue.venueName}">venue name</span>
                    <div>
                        <span class="generalinfo" th:text="|Capacity: ${venue.capacity}|">Capacity: 0</span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer">
    <p>Hier komt de footer</p>
</footer>

</body>
</html>