<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venues</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/static/css/party.css"/>
</head>
<body>

<header th:replace="fragments/header :: header">
    <p>Hier komt de header</p>
</header>

<main>
    <p class="venue"><a th:href="@{/venuedetails/1}">Venue 1</a></p>
    <p class="venue"><a th:href="@{/venuedetails/2}">Venue 2</a></p>
    <p class="venue"><a th:href="@{/venuedetails/3}">Venue 3</a></p>
</main>

</body>
</html>